.proyects{
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;

}
.proyects__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 450px;
    max-width: 1000px;
    width: 100%;
}
.proyect{
    background-color: black;
    border: solid 3px var(--hover-background);
    color: var(--text-color);
    padding: 10px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.proyect__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.proyect__button{
    background-color: var(--button-background);
    color: #fff;
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: all .5s ease;
}
.proyect__button:hover{
    background-color: var(--hover-background);
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.technologies > p{
    background-color: #333333;
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width:645px) {
    .proyects__container{
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}